/* main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #39813a;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/back.png');
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
} */

.grid {
  /* 
  usar display grid */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
  gap: 15px;

}

.card {
  /* 
  aspect-ratio: 3/4;  serve para deixar a carta sempre nessa proporçao em qualquer tamanhao de tela
  transition na card
  transform_style
  */
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all .4s ease-in;
  position: relative;

}

.face {
  border: solid 1px black;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.front {
  /* background-color: blueviolet; */
  transform: rotateY(180deg);

}

.back {
  /* 
  backface-visibility: serve para esconder a parte de tras, mostrando assim a face que está embaixo
  */
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  
}

.reveal-card {
  transform: rotateY(180deg);
}